img{
    /* width: 152px; */
    /* height: 152px; */
}

.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    border: 1px solid goldenrod;
    height: 200px;
    width: 200px;
    border-radius: 100% 0px 100% 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}

.crystal:hover{
    cursor: pointer;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow .5s;
}

.crystal:active{
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s;
}